<body background="./media/imagenes/fondohome2.png">
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <div class="audio">
        <audio controls autoplay="true">
        <source src="./media/audio/DJ QUADS- ITS TRUE (VLOG MUSIC).MP3">
        </audio>
    </div>
    
     <div class="main" id="1">
        <p id="text"><mark>EL DISEÑO PERFECTO PARA TU NUEVO IPHONE 12</mark></p>
        <ul class = "shopnow"> 
        <li><a href="/shop">SHOP NOW</a></li></ul>
    </div>