<div class="menucontainer">
    <div class="menubar1">
        <ul class="logo">
        <li class="logotype"><img class="loguito" src="./media/imagenes/logo.png"></li>
        </ul>
    </div>
    
    <div class="main" id="1">
        <img src="./media/imagenes/shopimg1.png"> 
        </div>

        <!-- columnas -->
	<div class="div2" id="2" class="row">
		<div class="Mcontainer">
					<h1> COMPRA NUESTROS PRODUCTOS</h1> <br><br><br>
			<div class="column">
				<img class="Mimg" src="./media/imagenes/shopipad.png" alt=""><br><br><br>
				<input type="button" class="button" value="See More">
		</div>
		<div class="column">
				<img class="Mimg" src="./media/imagenes/shopwatch.png"><br><br><br>
				<input type="button" class="button" value="See More">
		</div>
		<div class="column">
				<img class="Mimg" src="./media/imagenes/shopphone.png" alt=""><br><br><br>
				<input type="button" class="button1" value="See More">
		</div>
		</div>
	</div>

	<div id = "ad" >
		<img src="./media/imagenes/gif.gif"> 
		</div>