<div class="menubar2">
    <ul class="menu">
        <li><a href="/">HOME</a></li>
        <div class="dropdown">
          <button class="dropbtn">ABOUT US</button>
          <div class="dropdown-content">
          <a href="#2">MISIÓN</a>
          <a href="#3">VISIÓN</a>
          <a href="#4">VALORES</a>
          </div>
        </div>
        <li><a href="/shop">SHOP</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</div>