<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {ruta: "./css/aboutus.css"}) %>
</head>
<body>
    <header>
        <%- include('../partials/headerAboutUs') %>
        </header>

        <main>
            <%- include('../partials/bodyAboutUs') %>
        </main>

        <footer>
            <%- include('../partials/footer') %>
            </footer>
</body>
</html>